<h1><%= @project.title %>: <%= @project.description %> </h1>

<h2>Items</h2>
<ul>
  <% @project.items.each do |item| %>
  <li><%= link_to item.title, item_url(item) %> ->
      <%= item.completed ? "Done!" : "Not Done" %> </li><br />
  <% end%>
</ul>

<%= link_to "Back to All Projects", projects_url%>